[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=XAutoLock
Comment=XAutoLock
Exec=xautolock -time 5 -locker "i3lock-custom -n" -killtime 10 -corners 000- -cornersize 30
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

