[Desktop Entry]
Name=Guake
Name[en_US]=Guake
Exec=guake
Terminal=false
Type=Application
Version=1.0
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel

